<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body{
            background: url("/static/download.jpg");
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body >
    <div style="text-align: center">
        <h1 style="color: white">
            <br>
            欢迎 {{ username }} 使用接口测试平台
        </h1>
        <h3 style="color: white">welcome to use Apitest</h3>
        <textarea name="" id="" cols="30" rows="10" placeholder="匿名吐槽专用，可以留下你宝贵的意见" style="border-radius: 5px;padding-left: 10px;box-shadow: 4px 4px 9px grey"></textarea>
        <br>
        <button onclick="tijiao()" style="border-radius: 50px 50px 50px 50px;width:100px">提交</button>
    </div>
<script>
    function tijiao() {
        $.get("/tijiao/",{
            "tucao_text":document.getElementById('tucao_input').value,
        },function (ret) {
            alert('感谢你的宝贵意见！')

        })

    }
</script>

</body>
</html>