<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="text-align: center">
    <div style="text-align: center">

    <h1>欢迎使用 {{ username }} 接口测试平台！</h1>
    <h3>Welcome to ApiTest</h3>
    <div style="border: 1px solid black;width:200px;text-align:left;margin-left: -webkit-calc(50% - 100px);padding-left: 10px ">
        <h2>如何使用:</h2>
        1.打开左侧菜单<br>
        2.找到要用的功能<br>
        3.点击进入<br><br>
    </div>

    <h2>更新信息:</h2>
    <span>如有问题，请发至邮件15243143754@163.com</span><br>
    <span>或进入<a href="">本平台的优化建议</a>中进行反馈</span>
    <br><br>
    <img src="../static/test.jpg" alt="图片丢了" style="width:200px;">
    </div>




</body>
</html>