<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试平台登陆</title>

    <style>
        body{
            background: url("/static/background_hm.jpg");
            background-attachment:fixed ;
            background-size: cover;
        }

        .wqrf_input{
            width:200px;
            background-color: #eaf1ee;
            border-radius:10px;
            text-align: center;
            float:right;
            margin-right: 10px;
            height:30px;
        }
    </style>

</head>
<body>
    <div style="box-shadow: 4px 4px 6px #2a262a;margin-left: -webkit-calc(50% - 150px);width: 300px;background-color: white; opacity:0.91;border-radius: 10px;text-align: center">
        <strong><span style="font-size: xx-large;color: #031e13">接口测试平台</span></strong>
        <br>
        <span>欢迎使用</span>
        <br><br>
        <div style="padding-left: 10px;text-align: left">
            <span style="font-size: large;color: #656565">用户名：</span> <input type="text" class="wqrf_input">
            <br><br>
            <span style="font-size: large;color: #656565">密码：</span><input type="text" class="wqrf_input">
        </div>
        <br><br>
        <button style="width: 90%;height: 35px;border-radius: 5px;background-color: #068e01;color: white;font-size: large">登 陆</button>
        <br><br>
        若首次登陆,请点击 <a href="">注册账号</a>
        <br><br>
    </div>
</body>
</html>