<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目列表</title>
</head>
<body>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>项目id</th><th>项目名称</th><th>创建者</th><th>备注</th> <th>操作</th>
            </tr>
        </thead>

        <tbody>
            {% for i in projects %}
            <tr>
                <td>{{ i.id }}</td><td>{{ i.name }}</td><td>{{ i.user }}</td><td>{{ i.remark }}</td> <td><button>进入</button> <button>删除</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>